<div ng-controller="mainController">
    <input type="button" ng-click="addStudent()"  class="btn btn-default" value="Add Student">  
    
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student name </th>
                <th>Student Last Name</th>
                <th>StudentId</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="student in students" ng-click="crudOperation(student)">
               
                <td> {{student.StudentName}}</td>
                <td> {{student.StudentLastName}}</td>
                <td> {{student.StudentId}}</td>
            </tr>
        </tbody>

    </table>
 
</div>